<% if current_user.admin == true %>
  <div class="container">
    <div>
      Scraping <%= @admin.pages %>
    </div>
    <div class="col-xs-4 col-offset-4">
      <%= simple_form_for @admin do |f| %>
        <%= f.input :pages %>
        <%= f.button :submit %>
      <% end %>
    </div>
    <div class="col-xs-4">
      There are: <%= @jobs.count %> jobs.
    </div>
    <div class="col-xs-4">
      There are: <%= @searches.count %> searches.
    </div>
  </div>

<% end %>
