<div class="container">
  <div class="job-card first-jobs-card">
    <div>
      Job Title: <%= @job.title %>
    </div>
    <div>
      Company: <%= @job.company %>
    </div>
    <div>
      <% if @job.salary.include?("k") %>
        Salary: <%= @job.salary %>
      <% else %>
        Salary: <%= @job.salary %>
      <% end %>
    </div>
    <div>
      Location: <%= @job.location %>
    </div>
    <div>
      Link:

      <% if @job.link.include?("https://") %>
        <%= link_to @job.link, target: "_blank" do %>
          <%= @job.job_website %>
        <% end %>
      <% else %>
        <% @job.link = "https://" + @job.link %>
        <% @job.save %>
        <%= link_to @job.link do %>
          <%= @job.job_website %>
        <% end %>
      <% end %>
        <%#= link_to @job.link, "https://#{@job.website}" %>
    </div>
  </div>
  <div class="divider">

  </div>
  <div class="similar-jobs">
    <% company_filtered = @similar_jobs.where(company: @job.company).where(search_id: @job.search_id) %>
    <h4>Similar Jobs:</h4>
    <% company_filtered.each do |filtered| %>
    <div class="col-xs-6">
      <% if filtered.link != @job.link || @job.title != nil %>
        <% farray = [] %>
        <% farray << filtered %>
        <% farray.each do |element|  %>
        <div class="similar-jobs-card">
          <div>
            Job Title: <%= element.title %>
          </div>
          <div>
            Company: <%= element.company %>
          </div>
          <div>
            Salary: <%= element.salary %>
          </div>
          <div>
            Location: <%= element.location %>
          </div>
          <div>
            Link:
            <%= link_to element.link do %>
              <%= element.job_website %>
            <% end %>
            <%#= link_to filtered.link, "http://#{filtered.website}" %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
