<% @jobs.each do |job| %>
  <% job.salary.gsub(/.00/, "") %>
  <% job.save %>
  <div class="col-xs-12 col-sm-4">
    <div class="all-cards" id="scroll">
      <%= link_to job_path(job) do %>
        <div class="card" style="border-color: <%= job.website.website_color %>;">
          <div>
            <% if job.title.length > 32 %>
            <% job_title_chars_array = [] %>
               <span> <b> Job Title: </b> <%= job_title_chars_array.concat(job.title.chars[(0..32)]).join.capitalize + "..." %></span>
            <% else %>
              <span><b>Job Title: </b> <%= job.title %></span>
            <% end %>
          </div>
          <div>
            <% if job.company.length > 32 %>
            <% job_company_chars_array = [] %>
              <span> <b>Company: </b> <%= job_company_chars_array.concat(job.company.chars[(0..32)]).join + "..." %></span>
            <% else %>
              <span><b>Company: </b> <%= job.company %></span>
            <% end %>
          </div>
          <div>
            <% if job.salary.length > 32 %>
            <% job_salary_chars_array = [] %>
              <span> <b>Salary: </b> <%= job_salary_chars_array.concat(job.salary.chars[(0..32)]).join + "..." %></span>
            <% else %>
              <span><b>Salary: </b> <%= job.salary %></span>
            <% end %>
          </div>
          <div>
            <% if job.location.length > 32 %>
            <% job_location_chars_array = [] %>
              <span><b>Location:</b> <%= job_location_chars_array.concat(job.location.chars[(0..32)]).join + "..." %></span>
            <% else %>
              <span><b>Location: </b> <%= job.location %></span>
            <% end %>
          </div>
          <!-- <div>
            <span>
              <%= distance_of_time_in_words(job.created_at, Time.now) %> ago
            </span>
          </div> -->
          <!-- <div>
            Quality: <%= job.quality %>
          </div> -->
          <div class="job-star">
            <% if current_user.liked? job %>
              <%= link_to dislike_job_path(job), class: "dislike", method: :put do %>
                <i class="fas fa-star"></i>
                <% job.get_upvotes.size %>
              <% end %>
            <% else %>
              <%= link_to like_job_path(job), class: "like", method: :put do %>
                <i class="far fa-star"></i>
                <% job.get_upvotes.size %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  function refreshPage () {
    document.location.reload(true)
  }
  window.onload = function () {
    if (false == <%= @jobs.first.search.job_done %>) {
      setTimeout(refreshPage, 3000);
    }
  }
</script>
