<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Search-History')">Search History</button>
  <button class="tablinks" onclick="openTab(event, 'Top-Jobs')">Top-Jobs</button>
  <button class="tablinks" onclick="openTab(event, 'Suggestions')">Suggestions</button>
</div>

<div id="Search-History" class="tabcontent text-center">
  <% @search_histories.each do |search_history| %>
    <div class="col-xs-4">
      <div class="card">
        <%= link_to search_path(search_history) do %>
          <%= search_history.search.title %>,
          <%= search_history.search.location %>
          <%= distance_of_time_in_words(search_history.created_at, Time.now) %> ago
          <%= search_history.search.source %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div id="Top-Jobs" class="tabcontent">
  <div class="seach-keywords">
    <% @total.each do |element| %>
      <% count = ((element.last.to_f / @total.map {|e| e.last}.sum) * 100).to_i %>
      <%= element.first %>: <%= element.last %>
      <br>
      <div class="graph">
        <% if count < 1 %>
          <div class="graph-element"></div>
        <% else %>
          <% count.times do  %>
            <div class="graph-element"></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<div id="Suggestions" class="tabcontent">
  <%= line_chart User.group_by_day(:created_at).count %>
</div>



<script>
function openTab(evt, tab) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tab).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
