<% if @jobs.length == 0 %>
  <%= render 'shared/loading' %>
<% else %>
  <% array_of_salary = []%>
  <% if array_of_salary.zero? %>
    <% avg_salary = (array_of_salary.sum / array_of_salary.count).to_s %>
  <% end %>
  <% if avg_salary.to_s.length > 3 %>
    <% chars = avg_salary.chars %>
    <% array_avg_salary_chars = (chars[(-chars.length..-4)].push(".")).concat(chars[(-3..-1)]) %>
    <% avg_salary = array_avg_salary_chars.join("") %>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="overall-info">
          <div class="search_keyword search_show_headers">
            <h5>You searched for: <%= @search.title %></h5>
          </div>
          <div class="average-salary search_show_headers">
            <h5>
              Average Salary: <%= avg_salary %>
            </h5>
          </div>
          <div class="results search_show_headers">
            <h5>
              Nr of Results: <%= @jobs.length %>
            </h5>
          </div>
          <% if current_user.link_permission %>
            <div class="futher-options search_show_headers">
              <input value="<%= @links %>" type="hidden" id="copy-links">
              <button onclick="copyLinks()" id="copy-button">Copy Links</button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="filter">
          <%= form_tag search_path(@search), method: :get do %>
            <%= text_field_tag :filter, params[:filter], class: "search_show_form", placeholder: "Filter" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render "jobs", remote: true %>
    </div>
  </div>
<% end %>
<script>
function copyLinks() {
  // const copyText = document.getElementById("copy-links");
  // copyText.select()
  // document.execCommand("copy");
  let tempInput = document.createElement("input");
  tempInput.style = "position: absolute; left: -1000px; top: -1000px";
  tempInput.value = "<%= @links %>";
  document.body.appendChild(tempInput);
  tempInput.select();
  document.execCommand("copy");
  document.body.removeChild(tempInput);
  alert("Copied to Clipboard")
}
</script>

