<% if @jobs.length == 0 %>
    <h3>Loading your jobs!</h3>
  <div class="loading">
    <div class="lds-css ng-scope">
    <div class="lds-spinner" style="width:100%;height:100%"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <style type="text/css">@keyframes lds-spinner {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @-webkit-keyframes lds-spinner {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    .lds-spinner {
      position: relative;
    }
    .lds-spinner div {
      left: 94px;
      top: 48px;
      position: absolute;
      -webkit-animation: lds-spinner linear 1s infinite;
      animation: lds-spinner linear 1s infinite;
      background: #e90c59;
      width: 12px;
      height: 24px;
      border-radius: 40%;
      -webkit-transform-origin: 6px 52px;
      transform-origin: 6px 52px;
    }
    .lds-spinner div:nth-child(1) {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-animation-delay: -0.916666666666667s;
      animation-delay: -0.916666666666667s;
    }
    .lds-spinner div:nth-child(2) {
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
      -webkit-animation-delay: -0.833333333333333s;
      animation-delay: -0.833333333333333s;
    }
    .lds-spinner div:nth-child(3) {
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg);
      -webkit-animation-delay: -0.75s;
      animation-delay: -0.75s;
    }
    .lds-spinner div:nth-child(4) {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-animation-delay: -0.666666666666667s;
      animation-delay: -0.666666666666667s;
    }
    .lds-spinner div:nth-child(5) {
      -webkit-transform: rotate(120deg);
      transform: rotate(120deg);
      -webkit-animation-delay: -0.583333333333333s;
      animation-delay: -0.583333333333333s;
    }
    .lds-spinner div:nth-child(6) {
      -webkit-transform: rotate(150deg);
      transform: rotate(150deg);
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }
    .lds-spinner div:nth-child(7) {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-animation-delay: -0.416666666666667s;
      animation-delay: -0.416666666666667s;
    }
    .lds-spinner div:nth-child(8) {
      -webkit-transform: rotate(210deg);
      transform: rotate(210deg);
      -webkit-animation-delay: -0.333333333333333s;
      animation-delay: -0.333333333333333s;
    }
    .lds-spinner div:nth-child(9) {
      -webkit-transform: rotate(240deg);
      transform: rotate(240deg);
      -webkit-animation-delay: -0.25s;
      animation-delay: -0.25s;
    }
    .lds-spinner div:nth-child(10) {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
      -webkit-animation-delay: -0.166666666666667s;
      animation-delay: -0.166666666666667s;
    }
    .lds-spinner div:nth-child(11) {
      -webkit-transform: rotate(300deg);
      transform: rotate(300deg);
      -webkit-animation-delay: -0.083333333333333s;
      animation-delay: -0.083333333333333s;
    }
    .lds-spinner div:nth-child(12) {
      -webkit-transform: rotate(330deg);
      transform: rotate(330deg);
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
    .lds-spinner {
      width: 200px !important;
      height: 200px !important;
      -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
      transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    }
    </style></div>
  </div>
<% else %>
  <% array_of_salary = []%>
  <% @jobs.each do |job| %>
    <% if job.salary != "-" || job.salary.nil? %>
      <% salary = job.salary.gsub(/,/, "").gsub(/\D+/, " ").strip.to_i %>
      <% if job.salary_format == true %>
        <% array_se = job.salary.split("-") %>
        <% se = array_se.map { |e| e.gsub(/,/, "").gsub(/\D+/, " ").strip.to_i } %>
        <% salary = se.sum / se.length %>
        <% array_of_salary << salary %>
      <% end %>
    <% end %>
  <% end %>
  <% if array_of_salary.count != 0 %>
    <% avg_salary = (array_of_salary.sum / array_of_salary.count).to_s %>
  <% end %>
  <% if avg_salary.to_s.length > 3 %>
    <% chars = avg_salary.chars %>
    <% array_avg_salary_chars = (chars[(-chars.length..-4)].push(".")).concat(chars[(-3..-1)]) %>
    <% avg_salary = array_avg_salary_chars.join("") %>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="overall-info">
          <div class="search_keyword search_show_headers">
            <h5>You searched for: <%= @search.title %></h5>
          </div>
          <div class="average-salary search_show_headers">
            <h5>
              Average Salary: <%= avg_salary %>
            </h5>
          </div>
          <div class="results search_show_headers">
            <h5>
              Nr of Results: <%= @jobs.length %>
            </h5>
          </div>
          <% if current_user.link_permission %>
            <div class="futher-options search_show_headers">
              <input value="<%= @links %>" type="hidden" id="copy-links">
              <button onclick="copyLinks()" id="copy-button">Copy Links</button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="filter">
          <%= form_tag search_path(@search), method: :get do %>
            <%= text_field_tag :filter_title, params[:filter_title], class: "form-control search_show_form", placeholder: "Search Title" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render "jobs", remote: true %>
    </div>
  </div>
<% end %>
<script>
function copyLinks() {
  // const copyText = document.getElementById("copy-links");
  // copyText.select()
  // document.execCommand("copy");
  let tempInput = document.createElement("input");
  tempInput.style = "position: absolute; left: -1000px; top: -1000px";
  tempInput.value = "<%= @links %>";
  document.body.appendChild(tempInput);
  tempInput.select();
  document.execCommand("copy");
  document.body.removeChild(tempInput);
  alert("Copied to Clipboard")
}
</script>

